/* .about{
    width: 100%;
    height: 500px;
    background-color: rgb(139, 139, 222);
} */
.info{
    width: 100%;
    height: 70%;
    background-color: darkkhaki;
  /* position:absolute ;right: 200px; */
  display: flex;
}

video{
 overflow: hidden;
  width: 50%;
  height: 80%;
  padding: 0px;
  margin: 30px;
  border: 10px solid red;
}

.container{
  position: absolute; right: 250px;
  padding: 80px;
  text-align: left;
}
.first{
  color: red;
  font-size: 20px;
}
.second{
  color: green;
  font-size: 20px;
}
.third{
  color:black;
  font-size: 20px;
}

.button{
  padding: 6px;
  border: 4px;
  border-radius: 5px;
  background-color: rgb(78, 52, 179);
  margin: 20px 0px 0px 50px;
  align-items: center;
  color: white;
}