.footer{
    color: red;
    align-items: center;
    display: flex;
    width: 100%;
    height: 60px;
    /* justify-items: center; */
    justify-content: center;
    bottom: 0px;
    position: fixed;
}