

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

.NavbarCSS{
  border: 10px;
  background-color:antiquewhite;
  width: 100%;
  padding: 10px;
  display: inline-flex;
}

h1{
  color: white;
}

.Navitems{
 
 
  display: inline-flex;
  font-size: 20px;
  

  
}

.home{
   /* justify-content: end; */
  position:absolute; right:400px

 
}
.about{
  position:absolute; right: 300px;
}
.price{
  position:absolute; right: 200px;
}

.program{
  position:absolute; right: 100px;
}


li{
  list-style: none;
  padding: 5px;
  margin: 20px;
  align-items: flex-end;
  float: right;
  /* position:absolute; right:80px */
  


  
}




















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
