
* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


.card{
  position: absolute;
  padding-top: 75px;
  display: flex;

} 


.btn-danger{

  position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    
}



#na{
  border-radius: 100px;
}
#nb{
  border-radius: 100px;
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
}


#carouselExampleIndicators{
  width: 500px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}



.dum{
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);

}
.dum1{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);

}
.dum2{
  position: absolute;
  top: 60%;
  left: 69%;
  transform: translate(-50%, -50%);

}




